.button {
  // height: calc(100% * 0.3);
  // width: calc(100% * 0.02);
  padding: 10px;
  font-size: 1.3rem;
  display: inline-flex;
  justify-content: center;
  color: #f4f5f9;
}

.button-operation {
  @extend .button;
  color: #89b4f1;
}
